body {
  font-size: 12px; }

.marginbody, .header .header__margin, hr, .emp-model {
  width: 95%;
  margin: auto; }

.header {
  width: 100%;
  padding: 1px;
  background: #d8d8d8; }
  .header .logo {
    width: 140px;
    margin: 0px; }

#userMenu li {
  display: inline-block;
  list-style: none;
  margin-right: 10px; }

#userMenu li:nth-child(1) {
  border-right: 1px solid #b5b2b2; }

#userMenu {
  list-style-type: none;
  font-family: arial;
  color: #000;
  font-size: 12px;
  margin-top: 13px; }
  #userMenu a {
    color: #000;
    text-decoration: none;
    padding: 7px 10px 7px 27px; }
    #userMenu a .cstm_help {
      padding-left: 10px; }
  #userMenu .cstm_signout {
    color: #0275d8; }

.btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle, .btn-primary:hover {
  color: #b5b2b2;
  background-color: #fff;
  border-color: #fff;
  cursor: pointer; }

.tables, .table tr th {
  background-color: #5f6167;
  color: #fff;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  font-family: Helvetica; }

.formcss, label, input, button, select, textarea, input.form-control {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  display: block; }

.panel-body {
  padding: 15px; }

#page-mainTitle {
  font-size: 24px;
  font-family: "Ropa Sans";
  padding: 15px 0 10px;
  margin: 0 auto;
  width: 50%;
  display: inline-block;
  color: #2C3E50;
  text-transform: capitalize;
  margin-left: 37px; }

.createempBtn {
  margin-right: 19px; }

.form {
  float: left; }
  .form .form__search {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("../images/search_icon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-left: 35px; }
