$fontsize:12px;
$lineheight:20px;
$text-color:#fff;

@mixin e($element)	{
	&__#{$element}{
		@content;
	}
}

@mixin m($modifier){
	&--#{$modifier}{
		@content;
	}
}

body {
    font-size: $fontsize;
}

.marginbody{
      width: 95%;
    margin: auto;
}

.header {
    width: 100%;  
    padding: 1px;
    background: #d8d8d8;
    .header__margin{
      @extend .marginbody;
    }
    .logo {
    width: 140px;
    margin: 0px;
    }
}

hr{

      @extend .marginbody;
    
}
#userMenu li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

#userMenu li:nth-child(1){
    border-right:1px solid #b5b2b2;
}

#userMenu {
    list-style-type: none;
    font-family: arial;
    color: #000;
    font-size: 12px;
    margin-top: 13px;
     a {
    color: #000;
    text-decoration: none;
    padding: 7px 10px 7px 27px;
        .cstm_help {
        padding-left: 10px;
        }
    }
    .cstm_signout{
        color:#0275d8;
    }
}

.btn-primary,.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle , .btn-primary:hover{
    color: #b5b2b2;
    background-color: #fff;
    border-color: #fff;
    cursor: pointer;
}


.tables{
    background-color: #5f6167;
    color: $text-color;
    padding: 8px;
    font-size: $fontsize;
    font-weight: 400;
    font-family: Helvetica;
}

.formcss{
	font-size: $fontsize;
    font-weight: normal;
    line-height: $lineheight;
    display:block;
}


label, input, button, select, textarea, input.form-control {
   @extend .formcss;
}

.table tr th{
	@extend .tables;
}


.panel-body {
    padding: 15px;
}

#page-mainTitle {
    font-size: 24px;
    font-family: "Ropa Sans";
    padding: 15px 0 10px;
    margin: 0 auto;
    width: 50%;
    display: inline-block;
    color: #2C3E50;
    text-transform: capitalize;
        margin-left: 37px;
}

.createempBtn{
    margin-right:19px;
}

.emp-model{
    @extend .marginbody;
}

.form{
    float:left;
    .form__search{
    
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search_icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
   margin-left:35px;
}
}

