<div class="panel-body">
    <div id="employee-builder" class="employee">
        <div class="row">
            <div class="col-md-12">
                    <div class="employee__home">
                         <div class="clear"></div>
                        <div class="panel panel-primary employee__home__histroy">                                        
                                <div id="showData"></div>
                        </div>
                    </div>
                    <!--end of Employee home-->
            </div>

            </div>
        </div>
    </div>
</div>